*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #d84146;
	font-size: 16px;
	/*font-family: 'Sacramento', cursive;*/
}
/*#page{
	min-width: 980px;
	margin: 0 auto;
}
*/
.menu_panel{
	background-color: #b02429;
}
.nav{
	list-style: none;
    font-size: 18px;
    text-align: center;
}
.nav li{
	display: inline-block;
	padding: 20px;
	background-color: #b02429;
	border-radius: 0 0 7px 7px;
	margin-right: 5px;
	cursor: pointer;
}
.nav li:last-child{
	margin-right: 0;
}
.nav li:hover{
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(216, 65, 82, 0.3)), to(#b02429));
}
.nav li a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

/*------------------------*/

/*@media all and (max-width: 980px){
	#page{min-width:100%;}
	.wrap {
	    width: 96%;
	    padding: 0 2%;
	}	
}*/
#menu_btn{
	display: none;
}
@media all and (max-width: 800px){
	.menu_panel{
		border-radius: 7px;
		padding: 18px;
		margin-bottom: 1px;
	}
	#menu_btn{
		width: 45px;
		height: 45px;
		border-bottom: 15px double #fff;
		border-top: 5px solid #fff;
		height: 5px;
		width: 30px;
		display: block;
		cursor: pointer;
	}
	.nav li{
		margin-bottom: 1px;
		margin-right: 0;
		border-radius: 7px;
		display: none;
		cursor: pointer;
	}
}

